<div>
    <app-banner></app-banner>
    <app-encabezado>  </app-encabezado>  
    <app-acerca-de>  </app-acerca-de>
    
  <!-- Botones para cada proyecto -->
  <div class="cuadricula-botones">
    <button (click)="verProyecto('1')" class="btn btn-primary btn-proyecto">
      Proyecto 1
    </button>
    <button (click)="verProyecto('2')" class="btn btn-primary btn-proyecto">
      Proyecto 2
    </button>
    <button (click)="verProyecto('3')" class="btn btn-primary btn-proyecto">
      Proyecto 3
    </button>
    <button (click)="verProyecto('4')" class="btn btn-primary btn-proyecto">
      Proyecto 4
    </button>
  </div>

    <app-experiencia-educacion>  </app-experiencia-educacion>
    <app-educacion>  </app-educacion>
  </div>
 <!---   -->
