@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

header {
  background-image: url("https://argentinaprograma.inti.gob.ar/pluginfile.php/1/theme_moove/sliderimage1/1676134779/banner-ok-argentina-programa.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding: 15px;
}

button {
  background-color: #a1a8a6;
  color: #ffffff;
}

.btn-proyecto {
  width: 300px;
  height: 300px;
  margin: 10px;
}

.cuadricula-botones {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-content: center;
  align-items: center;
}

/* Agrega otras reglas según sea necesario */

  
  
  